body{
    background-color:rgb(199, 179, 179);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: rgb(73, 79, 85);
}

#calculator{
   width: 19rem; 
   margin:4rem auto;
   padding: 1rem;
   background-color:rgb(89, 80, 80);
   border: 1px solid rgb(235, 235, 198);
   border-radius: 20px;
}

input{
    width: 100%;
    background-color:#ecf0f3;
    border: 1px solid #ecf0f3;
    font-size: 1.25rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    text-align: end;
    box-shadow: 1px 1px 1px 0.5px;S
}



button{
    width: 3rem;
    height: 3rem;
    margin: 0.75rem;
    background-color:#ecf0f3;
    box-shadow: 1px 1px 1px 0.5px;
    border-radius: 50%;
    border: 1px solid #ecf0f3;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #e1e7ece5;
}

#error{
    text-align: center;
}